footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffffff;
}

.introduction {
  font-size: 120%;
}

.brags-container {
  margin-left: 15px;
  padding-left: 0.35rem;
  border-left: 1px solid #cccccc;
}

.brags-container p {
  margin: 0.25rem;
  margin-left: 0px;
}

.brags-container .brag {
  margin-bottom: 1rem;
}

.brag .date {
  font-size: 75%;
  color: #999999;
}

.brag .admin-options {
  font-size: 75%;
  color: #333333;
}

main {
  padding-top: 0px;
}

.pulled-left {
  float: left !important;
}

.pulled-right {
  float: right !important;
}

.avatar {
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 100%;
}

.clear {
  clear: both;
}

.danger {
  color: red;
}

.small-margin {
  margin: 4px;
}

.clickable {
  cursor: pointer;
}

#admin .options {
  text-align: right;
  font-size: 75%;
}
